<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido al Home Page</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button
        expand="block"
        routerLink="/home/profile"
        class="ion-margin-top">
        Ir al perfil
      </ion-button>

      <ion-button
        expand="block"
        routerLink="/settings"
        class="ion-margin-top">
        Ir a Settings
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
